body {
    min-height: 100vh;
}

.fullscreen-cover {
    height: 100vh;
}

.fullscreen-cover.imaged {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #333;
}

.fullcenter {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}

.bg-transparent-img {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
}

.bg-transparent-img h1 small {
    color: gainsboro;
}

.fullscreen-cover div {
    text-align: center;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    padding: 15px;
    color: gainsboro;
    background: transparent;
    border: none;
    font-size: 21px;
}

header a {
    margin-right: 15px;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 0;
    color: gainsboro;
    background: transparent;
    border: none;
    text-align: center;
    width: 100vw;
}

a:link,
a:visited,
a:hover,
a:active {
    color: lightgray;
}